<!DOCTYPE html>
<html>
<head>
    <title>Daily Info Page</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/products">Products</a></li>
            <li><a href="/subscribe">Subscribe</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/daily-info">Daily Info</a></li>
        </ul>
    </nav>
    <div class="container">
        <h1>Welcome Semester 3 FSJS QAP2 - Daily Info Page</h1>
        <div class="weather-info">
            <h2>High Chance of Rain, Drizzle and Fog in Horse Chops!</h2>
            <p>{{weather}}</p>
        </div>
        <div class="news-info">
            <h2>News from Across this Beautiful Country!</h2>
            <ul>
                {{news}}
            </ul>
        </div>
    </div>  
<H1>Author: Brenda Armstrong, SD10 - June 10, 2024</H1>
</body>
</html>

