<!DOCTYPE html>
<html>
<head>
    <title>Subscribe Page</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/products">Products</a></li>
            <li><a href="/subscribe">Subscribe</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/daily-info">Daily Info</a></li>
        </ul>
    </nav>
    <div class="container">
        <h1>Welcome Semester 3 FSJS QAP2 - Subscribe Page</h1>
    </div>
</body>
</html>
